<form [formGroup]="formGroup" novalidate>
	<label>Search for: </label>
	<mat-form-field appearance="outline">
		<mat-label>Search</mat-label>
		<input
			#search
			id="search"
			name="search"
			matInput
			formControlName="search"
			(input)="onSearchChange(search.value)"
		/>
	</mat-form-field>

	<div>
		<mat-radio-group
			id="provider"
			name="provider"
			formControlName="provider"
			(change)="onProviderChange($event.value)"
		>
			<ng-container *ngFor="let provider of providers">
				<mat-radio-button [value]="provider.value">{{ provider.description }}</mat-radio-button>
			</ng-container>
		</mat-radio-group>
	</div>
</form>

<div class="output-result">form: {{ formGroup.value | json }}</div>
