<mat-toolbar>
	<span>App Component</span>
	<div class="menu">
		<button
			mat-stroked-button
			#search="routerLinkActive"
			routerLink="/search"
			routerLinkActive
			[disabled]="search.isActive"
		>
			Search
		</button>
		<button
			mat-stroked-button
			#extra="routerLinkActive"
			routerLink="/extra"
			routerLinkActive
			[disabled]="extra.isActive"
		>
			Extra
		</button>
	</div>
</mat-toolbar>

<div class="root-container">
	<router-outlet></router-outlet>

	<div class="output-result mt-25">
		<span>state: {{ state | json }}</span>
	</div>
</div>
